:root {
    --brand-primary:#9bfb1b;
    --brand-secondary:#040404; /*black*/
    --brand-tertiary:#ffffff; /*white*/

    /*colour palette*/
    --electric-violet: #8235fa;
    --olive-drab: #5d9823;
    --manatee: #8a8c9e;
    --olivine: #90b272;
    --conifer: #95d449;
    --lima: #78c51f;
    --fern-frond: #447c21;

    --royal-heath: #94248c;
    --cod-black: #141414;
    --cod-black-warm: #0c0c0c;
    --plum: #942c94;
    --sambuca: #301c0c;
    --seaweed: #0c200c;
    --cod-gray: #100c0c;

    /* Typography */
    --font-family: "Raleway", sans-serif;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: 'Raleway', sans-serif;
}

body::-webkit-scrollbar {
    width: 6px;                  /* szerokość paska */
}

body::-webkit-scrollbar-track {
    background: transparent;     /* tło paska */
}


body {
    margin: 0;
    overflow: hidden; /* usuwa pasek przewijania */
    background: linear-gradient(180deg, var(--brand-primary), var(--brand-secondary));
    color: var(--brand-secondary);
    font-family: var(--font-family);
}


/*header {
    text-align: center;
    padding: 15px;
    background: var(--brand-secondary);
}*/

main {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
}

model-viewer {
    flex: 1; /* <<< zajmuje całą wolną przestrzeń pod menu */
    width: 100%;
    height: 100%;
    display: block;
}

model-viewer::part(progress-bar) {
    display: none;  /* ukrywa pasek ładowania */
}

model-viewer::part(progress-bar) {
    background-color: rgba(255,255,255,0.3); /* półprzezroczysty */
    height: 4px; /* cienki pasek */
    top: 0;       /* pokazuje u góry zamiast domyślnie na dole */
}

.menu-container {
  position: absolute; /* nakłada menu na model */
  top: 35px;          /* odległość od góry */
  left: 35px;         /* odległość od lewej */
  display: flex;
  gap: 25px;
  padding: 40px;
  background: var(--brand-primary);
  border: 3px solid #040404; /* obramowanie */
  border-radius: 80px;
  backdrop-filter: blur(6px);           /* efekt blur */
  z-index: 10;                           /* zawsze nad viewerem */
}

select {
    background: var(--brand-tertiary);
    padding: 20px;
    margin: 0 10px 0 0;
    border-radius: 30px;
    border: solid 2px var(--brand-secondary);
    font-size: 16px;
}